<!-- After JOIN ( Show current Rounds ) -->
<% if game.rounds.all? {|r| r.users.include?(current_user)} %>
  <hr>
  <ul>
    <% game.rounds.each do |round| %>
      <li>

        <% if round.active %> <!-- ACTIVE round -->

          <%= link_to ">> CodeWars <<", round.kata_url, target: "_blank",
            class: "btn btn-sm btn-outline-danger" %>
          <span style="color:darkorange"><i class="fas fa-running"></i> Active</span>

        <% else %> <!-- COMPLETED round ( adding link.DISABLED )-->

          <%= link_to ">> CodeWars <<", round.kata_url, target: "_blank",
            class: "btn btn-sm btn-outline-danger disabled" %>
          <span style="color:green"><i class="fas fa-check"></i> Completed</span>

        <% end %>

        <%= link_to(round.kata_name,game_round_path(game,round)) if round.kata_name %>

      </li>

    <br>

    <% end %>
  </ul>

<!-- JOIN > First Time ( Allow to Create Participations )  -->
<% else %>

  <h2>Participate!</h2>
  <%= simple_form_for([ game, @participation ]) do |f| %>
    <%= f.submit "JOIN", class: "btn btn-outline-success" %>
  <% end %>

<% end %>
