<h2><%= @game.title %></h2>

<%= link_to "< BACK", :root, class: "btn btn-outline-primary" %>

<% if current_user&.admin %><!-- USER is an ADMIN -->

  <%= link_to "DELETE GAME", @game, method: :delete, class: "btn btn-outline-danger" %>
  <hr>

  <h4>Rounds:</h4>
  <ol>
    <% @game&.rounds.each do |round| %>
      <li>

        <!-- Ajax call to toggle round.active -->
        <%= check_box_tag dom_id(round, :checkbox), nil, round.active, data: { url: game_round_toggle_path(@game,round), remote: :true, method: :post } %>

        <% if round.active %>
          <i class="fas fa-running"></i> Active
        <% else %>
          <i class="fas fa-check"></i> Completed
        <% end %>

        <%= link_to(round.kata_name,game_round_path(@game,round)) if round.kata_name %>

        <small><code><%= round.kata_id %></code></small>

        <% if round.participations.present? %>
          <p><%= round.participations.count %> participations:<br>
            <% round.participations.each do |particip| %>
              |<em> <%= particip.user.email %></em>
            <% end %>
          </p>
        <% end %>


      </li>
    <% end %>
  </ol>

<% else %> <!-- USER is a GUEST -->

  <!-- After JOIN ( Show current Rounds ) -->
  <% if @game.rounds.all? {|r| r.users.include?(current_user)} %>
    <ul>
      <% @game.rounds.each do |round| %>

        <li>
          <%= link_to ">> CodeWars <<", round.kata_url, target: "_blank", class: "btn btn-outline-danger" %>
          <%= link_to(round.kata_name,game_round_path(@game,round)) if round.kata_name %>
        </li>

      <% end %>
    </ul>

  <!-- JOIN > First Time ( Allow to Create Participations )  -->
  <% else %>

    <h2>Participate!</h2>
    <%= simple_form_for([ @game, @participation ]) do |f| %>
      <%= f.submit "JOIN", class: "btn btn-outline-success" %>
    <% end %>

  <% end %>

<% end %>
